<div class="drop-shadow">
  <h3 class=" font-bold"><%= post.title %> #<%= post.id %></h3>
  <% text_body = post.text.split(".").first(4).join(".") %>
  <h4>
    <%= text_body %>.
  </h4>
  <p class="font-bold">Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
</div>

